@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.calculator-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.calculator-container {
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 10px;
    backdrop-filter: blurr;
    overflow: hidden;
}

.first-column {
    flex: 0.3;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.first-column .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-column .title img {
    width: 150px;
}

.first-column .title h1 {
    font-size: 18px;
    margin-bottom: 40px;
}


.first-column input,
.first-column select {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 50px;
    font-size: 12px;
}

.first-column label {
    font-size: 14px;
}

.calculate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.first-input-container,
.second-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.result-container {
    text-align: center;
    padding: 10px 0 0 0;
}

.result-container {
    font-weight: 500;
}

.second-column {
    flex: 0.7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-column h1 {
    margin-bottom: 10px;
}

.second-column p,
.second-column ul {
    margin-bottom: 10px;
    font-size: 14px;
}

.second-column ul {
    list-style-type: none;
}
